{% extends "base.html" %}

{% load i18n %}

{% block head %}
    {{ block.super }}
    <style type="text/css">
        .rojo {
        	color: red;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
    {% for newsitem in news %}
        <div class="col-lg-4 col-md-6">
            <h2>
                {{ newsitem.title }}
                <a href="{% url "news_edit" newsitem.pk %}"><small>({% trans "Edit" %})</small></a>
            </h2>
            <p>{{ newsitem.description|safe|truncatewords_html:25 }}</p>
        </div>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{% url "news_add" %}" class="btn btn-default">{% trans "Add news" %}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ul class="pagination pagination-sm">

            {% if news.has_previous %}   
                <li><a href="?page={{ news.previous_page_number }}">&laquo;</a></li>  
            {% else %}
                <li class="disabled">
                    <span>&laquo;</span>
                </li>  
            {% endif %}

            {% for i in news.paginator.page_range  %}
                {% if news.number == i %}
                    <li class="disabled">
                        <span>{{ i }}</span>
                    </li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if news.has_next %}   
                <li><a href="?page={{ news.next_page_number }}">&raquo;</a></li>
            {% else %}   
                    <li class="disabled">
                        <span>&raquo;</span>
                    </li>
            {% endif %}

            </ul>
        </div>
    </div>

{% endblock %}